*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline:none;
}

@font-face {
   font-family: ProximaNova;
   src: url('fonts/ProximaNova/proximanova-regular-webfont.eot');
   src: url('fonts/ProximaNova/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/ProximaNova/proximanova-regular-webfont.woff2') format('woff2'),
        url('fonts/ProximaNova/proximanova-regular-webfont.woff') format('woff'),
        url('fonts/ProximaNova/proximanova-regular-webfont.ttf') format('truetype'),
        url('fonts/ProximaNova/proximanova-regular-webfont.svg#ProximaNova') format('svg');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: FuturaPT;
   src: url('fonts/FuturaPT/FuturaPT-Heavy.eot');
   src: url('fonts/FuturaPT/FuturaPT-Heavy?#iefix') format('embedded-opentype'),
        url('fonts/FuturaPT/FuturaPT-Heavy.woff2') format('woff2'),
        url('fonts/FuturaPT/FuturaPT-Heavy.woff') format('woff'),
        url('fonts/FuturaPT/FuturaPT-Heavy.ttf') format('truetype'),
        url('fonts/FuturaPT/FuturaPT-Heavy.svg#FuturaPT') format('svg');
   font-weight: 900;
   font-style: normal;
}

html{
	height: 100%;

}

body{
	min-height: 100%; 
	font: 400 27px/40px Georgia,Times,"Times New Roman", serif;
	color: #000;
	background: #464f54;
	overflow-x: hidden;
}

.container
{
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;

}

.header{
	width: 82.5%;
	float: right;
	margin:50px -6.5% -160px 0;

}

.title-block{
	background: #181818;
	padding: 45px 0 50px 60px;
}

.title{
	font: 15px ProximaNova, sans-serif;
	letter-spacing: 3.2px;
	text-transform: uppercase;
	color: #767676;
}

.description{
	font:48px/94px 'Playfair Display', serif;
	color: #fff;
	border-bottom: 3px solid rgba(255, 255, 255, .1);
}

.buttons{
	background: #fbc02d;
	list-style: none;
	display: flex;
	margin-left: 7.5%;
	padding: 20px 40px;
	box-shadow: 5px 5px 60px 0 rgba(0, 0, 0, .16);
}

.buttons li{
	margin-right: 15px; 
	opacity: .5;
	cursor: pointer;
	transition: all .3s;
}

.buttons li:hover{
	opacity: 1;
}

.buttons li::last-child{
	margin-right: 0;
}

.editor{
	background: #fff;
	box-shadow: 0 0 35px 0 rgba(0, 0, 0, .22);
	padding: 195px 11.5% 50px 11%;
	clear: both;

}

.editor:before{
	content: " ";
    background: #e8eced;
    width: 2px;
    height: 560px;
    float: left;
    margin-right: 50px;
}

.roy{
	font: 20px ProximaNova, sans-serif;
	letter-spacing: 2.2px;
	text-transform: uppercase;
	color: #d2d2d2;
	margin-bottom: 43px; 
}

.title-2{
	font:78px/73px FuturaPT, sans-serif;
	letter-spacing: .5px;
	text-transform: uppercase;
	color:2a2a2a;
}

.ask{
	font:30px/62px italic Georgia, serif;
	letter-spacing: .5px;
	color:#b1b1b1;
	margin-bottom:  50px;
}
.p-1{
	font: 27px Georgia, serif;
	color:#000;
	margin-bottom: 36px;
}
.p-2{
	font: 27px Georgia, serif;
	color:#000;
}

